#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background: linear-gradient(rgb(253, 173, 173), black);
}



/* line -  */
#line-with-text {
  text-align: center;
  border-bottom: 1px solid #B7B7B7; /* You can adjust the line style here */
  line-height: 0.1em; /* Adjust this value to control the distance between lines */
  margin: 20px 0; /* Adjust the margin as needed */
}
#line-with-text span {
  background-color: #fff; /* Or whatever your background color is */
  color: #B7B7B7;
  padding: 0 10px; /* Adjust padding to create space around text */
}